.contact-container {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
}

.contact-card, .social-card {
  width: 45%;
  padding: 20px;
  border: 1px solid #be50f4;
  border-radius: 10px;
  margin-top: 5vw;
}

.contact-card {
  margin-right: 20px;
  margin-top: 5vw;
}

.contact-card h2, .social-card h2 {
  margin-bottom: 10px;
}

.contact-form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  color: #c8b0ee;
}

label {
  display: block;
  margin-bottom: 5px;
 
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

button {
  padding: 10px 20px;
  background-color: #be50f4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.social-links ul {
  list-style: none;
  padding: 0;
}

.social-links ul li {
  margin-bottom: 5px;
}

.social-links ul li a {
  text-decoration: none;
  color: #007bff;
}

.social-links ul li a:hover {
  text-decoration: underline;
}
